@charset "UTF-8";
/* CSS Document */
h1 {
	font-size: 250px;
	font-family: Gilroy;
	display: inline;
}

p2 {
	display: inline;
	font-size: 50px;
	font-family: Bonana;
	vertical-align: middle;

}

#box1{
	padding-top:110px;
	text-align: right;
	padding-right:50px;
}

#heading {
	display: grid;
  	grid-template-columns: auto 450px;
	color: darkturquoise;
	text-align: left;
	text-decoration: none;
	background-color: yellow;
	padding-left: 25px;
}

#fonts {
	display: grid;
  	grid-template-columns: 33.33% 33.33% 33.33%;
	padding: 10px;
}

body{
	margin: 0;
}
.font {
	padding: 10px;
	display: block;
	background-color:#E4E4E4;
	margin: 15px;
}

.far {
	float: right;
	padding: 5px;
	color: black;
}

.far:hover {
	float: right;
	padding: 5px;
	color: darkturquoise;
	
}